<!DOCTYPE html>
<html lang="en">
	<head>
		<title>ADMIN</title>
		<link href="/static/css/styles.css" rel="stylesheet" />
		
	</head>
	<body>
		<section class="page-section bg-light">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">ADMIN LOGIN FORM</h2>
                    <h3 class="section-subheading text-muted">Please enter the login credentials</h3>
                <form action = 'login' method = 'POST'>
			USERNAME &nbsp;<input type='text' name='email' id='email' placeholder='email'/> <br />&nbsp; <br />
			PASSWORD &nbsp;<input type='password' name='password' id='password' placeholder='password'/> <br />&nbsp; <br />
			<input type='submit' name='submit' value='Login'/>
		</form>
            </div>
        </section>	
	</body>
</html>
